@model RoomManagement.Models.AdvanceCal
@{
    ViewData["Title"] = "Add/Edit Expance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Expance</h1>
        <form asp-action="AddOrEditFoodAdvance" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <label  class="control-label"></label>
                <input  type="text" readonly class="form-control" value="@ViewData["name"]"/>
            </div>
            <div class="form-group">
                <label asp-for="AmountGiven" class="control-label"></label>
                <input asp-for="AmountGiven"  type="text"  class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AmountReFund" class="control-label"></label>
                <input asp-for="AmountReFund" class="form-control" />
                <span asp-validation-for="AmountReFund" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemAmtFromAd" class="control-label"></label>
                <input asp-for="RemAmtFromAd" class="form-control" />
                <span asp-validation-for="RemAmtFromAd" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="DetectedAmt" class="control-label"></label>
                <input asp-for="DetectedAmt" class="form-control" />
                <span asp-validation-for="DetectedAmt" class="text-danger"></span>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <a asp-action="Advance" class="btn btn-secondary  w-100">View All</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
