################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoomManagement/RoomManagement/bin/Debug/net6.0
/RoomManagement/RoomManagement/obj
/RoomManagement/.vs/RoomManagement/FileContentIndex
/RoomManagement/.vs/RoomManagement/config
/RoomManagement/.vs/RoomManagement/v17
/RoomManagement/.vs
/RoomManagement/RoomManagement/.config
/RoomManagement/RoomManagement/bin/Release/net6.0
/RoomManagement/RoomManagement/bin/Release/net6.0
/RoomManagement/RoomManagement/bin/Release/net6.0
/RoomManagement/RoomManagement/Properties/PublishProfiles
/RoomManagement/RoomManagement/RoomManagement.csproj.user
